<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <h1>{{screamIt pageTitle '123'}}</h1>
    <p>Some text for about page</p>
    <p>{{getCurrentYear}}</p>
    {{> footer}}
</body>

</html>